nav .tools{border-bottom: 4px #7fc41b solid;color: #7fc41b;}
.main_center .free{font-size: 25px;color: #50bcd6;padding: 14px 0;}
.main_center p{line-height: 18px;font-size: 11px;}
.main_center ul{border: none;width: 560px;}
.main_center li{border-top: 1px solid #eae7de;border-bottom: none;font-size: 11px;padding: 19px 0 19px 151px;height: 90px;}
.main_center .websit{background-image: url(http://obqlla9is.bkt.clouddn.com/web/website_10.jpg);background-repeat: no-repeat;background-position: 0 center;}
.main_center .search{background-image: url(http://obqlla9is.bkt.clouddn.com/web/search_28.jpg);background-repeat: no-repeat;background-position: 0 center;}
.main_center .goole{background-image: url(http://obqlla9is.bkt.clouddn.com/web/google_33.jpg);background-repeat: no-repeat;background-position: 0 center;}
.main_center .link{background-image: url(http://obqlla9is.bkt.clouddn.com/web/link_31.jpg);background-repeat: no-repeat;background-position: 0 center;}
.main_center h3{font-size: 13px;color: #00666f;}
